.CartDetails{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    max-height: 1000rem;
    width: 750rem;
    padding-bottom: 120rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.Header{
    display: flex;
    justify-content: space-between;
    padding: 30rem ;
}

.Title{
    font-weight: bold;
    font-size: 30rem;
    margin: 0;
}
.Clear{
    color: rgb(81, 81, 81);
    font-size: 30rem;
}
.Clear span{
    margin-left: 10rem;
}
.MealList{
    overflow: auto;
}