.Meal {
    /*开启弹性盒*/
    display: flex;
    /*设置辅轴对齐方式*/
    align-items: center;
    /*设置外边距*/
    padding: 30rem 20rem;
    width: 750rem;
    border-bottom: 1px #dfdfdf solid;
}

.ImgBox{
    width: 200rem;
  
}
img{
    width: 200rem;
}
.DescBox{
    flex: auto;
}
.Text{
    padding-left: 40rem;
}

.Title{
    font-weight: normal;
    font-size: 36rem;
    margin: 0;
}
.Desc{
    color: #777777;
    font-size: 12rem;
 
}
.PriceTag{
    margin-top: 20rem;
    display: flex;
    justify-content: space-between;
}

.Price{
    font-weight: bold;
    font-size: 30rem;
}
.Price::before{
    content: '$';
    font-size: 24rem;
}